.logo {
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.174;
  letter-spacing: 0.03em;
}

.portfolio__list, .address-list, .social-list {
  list-style: none;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
}

p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  background-color: #fff;
  color: #757575;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
}

.modal-open {
  overflow: hidden;
}

.container {
  min-width: 320px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.page-header {
  width: 100%;
  border-bottom: 1px solid #ececec;
  background-color: #fff;
}
.page-header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-height: 60px;
}
.page-header--fixed {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
}

.site-nav__list {
  display: none;
}

.contacts-list {
  display: none;
}

.logo {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}
.logo > span {
  color: #2196f3;
}
.logo--dark {
  color: #000;
}
.logo--light {
  color: #fff;
}

.button {
  position: relative;
  overflow: hidden;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 10px 32px;
  border-radius: 4px;
  border: none;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  color: #fff;
  background-color: #2196f3;
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition-property: background-color;
  transition-property: background-color;
}
.button:hover, .button:focus {
  background-color: #188ce8;
}
.button__icon {
  fill: currentColor;
}
.button__icon--start {
  margin-right: 10px;
}
.button__icon--end {
  margin-left: 10px;
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}
.section__title {
  margin-bottom: 30px;
  color: #212121;
  text-align: center;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.16;
  letter-spacing: 0.03em;
}
@media screen and (max-width: 399px) {
  .section__title {
    font-size: 24px;
  }
}
@media screen and (min-width: 1200px) {
  .section__title {
    margin-bottom: 50px;
    font-size: 36px;
  }
}

.social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.social-list__item:not(:last-child) {
  margin-right: 10px;
}

.social-list__link {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: #afb1b8;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition-property: color, background-color;
  transition-property: color, background-color;
}
.social-list__link--gray-bg {
  background-color: rgba(255, 255, 255, 0.1);
}
.social-list__link:hover, .social-list__link:focus {
  background-color: #2196f3;
  color: #fff;
}

.social-list__icon {
  width: 20px;
  height: 20px;
  fill: currentColor;
}
.social-list__icon--white {
  color: #fff;
}

.page-footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #2f303a;
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .page-footer {
    text-align: left;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .page-footer__row {
    row-gap: 60px;
  }
}
@media screen and (min-width: 768px) {
  .page-footer__row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}
@media screen and (min-width: 1200px) {
  .page-footer__row {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
.page-footer__logo {
  margin-bottom: 20px;
}
@media screen and (max-width: 767px) {
  .page-footer__contacts, .page-footer__follow-us {
    margin-bottom: 60px;
  }
}
.page-footer__contact-link {
  padding: 0;
  color: rgba(255, 255, 255, 0.6);
  font-weight: 400;
  line-height: 1.7;
}
.page-footer__action {
  margin-bottom: 20px;
}

.address-list {
  line-height: 1.7;
}
.address-list__item:not(:last-child) {
  margin-bottom: 9px;
}
.address-list__dislocation {
  color: #fff;
}

.action {
  display: block;
  color: #fff;
  text-transform: uppercase;
  line-height: 1.7;
}

@media screen and (max-width: 767px) {
  .newsletter-form__button {
    width: 100%;
  }
}

.newsletter-form__input {
  width: 100%;
  padding: 15px 16px;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition-property: border-color;
  transition-property: border-color;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  outline: none;
  background-color: transparent;
  color: #fff;
  font-family: inherit;
  font-size: 16px;
  line-height: 1.25;
}
@media screen and (max-width: 1199px) {
  .newsletter-form__input {
    margin-bottom: 20px;
  }
}
@media screen and (min-width: 1200px) {
  .newsletter-form__input {
    width: 360px;
    margin-right: 12px;
  }
}
.newsletter-form__input::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
}
.newsletter-form__input::-moz-placeholder {
  color: rgba(255, 255, 255, 0.6);
}
.newsletter-form__input:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
}
.newsletter-form__input::-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
}
.newsletter-form__input::placeholder {
  color: rgba(255, 255, 255, 0.6);
}
.newsletter-form__input:hover, .newsletter-form__input:focus {
  border-color: #2196f3;
}

.menu-button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: 0;
  margin: 0;
  border: none;
  background-color: transparent;
}
.menu-button__icon-cross {
  display: none;
}
.menu-button--open .menu-button__icon-cross {
  display: block;
}
.menu-button--open .menu-button__icon-menu {
  display: none;
}

.menu {
  position: absolute;
  top: 100%;
  left: 0;
  -webkit-transform: translateY(-200%);
          transform: translateY(-200%);
  width: 100%;
  padding: 30px 15px;
  background-color: #896740;
  color: white;
  font-size: 20px;
  -webkit-transition: -webkit-transform 500ms linear;
  transition: -webkit-transform 500ms linear;
  transition: transform 500ms linear;
  transition: transform 500ms linear, -webkit-transform 500ms linear;
}
.menu--open {
  -webkit-transition: -webkit-transform 500ms linear;
  transition: -webkit-transform 500ms linear;
  transition: transform 500ms linear;
  transition: transform 500ms linear, -webkit-transform 500ms linear;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.portfolio__filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  gap: 15px 8px;
  margin-bottom: 40px;
}
@media screen and (min-width: 768px) {
  .portfolio__filter {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .portfolio__filter {
    margin-bottom: 50px;
  }
}
@media screen and (min-width: 768px) {
  .portfolio__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 30px;
  }
}
.portfolio__thumb {
  position: relative;
  overflow: hidden;
}
.portfolio__descr {
  color: #fff;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
}
.portfolio__meta {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
}
.portfolio__heading {
  margin-bottom: 4px;
  color: #212121;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.portfolio__category {
  color: #757575;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
}

.portfolio__radio-button {
  padding: 6px 22px;
  border: none;
  border-radius: 4px;
  background-color: #f5f4fa;
  color: #212121;
  cursor: pointer;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition-property: color, background-color, -webkit-box-shadow;
  transition-property: color, background-color, -webkit-box-shadow;
  transition-property: color, background-color, box-shadow;
  transition-property: color, background-color, box-shadow, -webkit-box-shadow;
}
.portfolio__radio-button:hover, .portfolio__radio-button:focus {
  color: #fff;
  background-color: #2196f3;
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio__item {
  background-color: getCpolor("primary-white");
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition-property: -webkit-box-shadow;
  transition-property: -webkit-box-shadow;
  transition-property: box-shadow;
  transition-property: box-shadow, -webkit-box-shadow;
}
@media screen and (max-width: 767px) {
  .portfolio__item:not(:last-child) {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 768px) {
  .portfolio__item {
    -ms-flex-preferred-size: calc((100% - 30px) / 2);
        flex-basis: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .portfolio__item {
    -ms-flex-preferred-size: calc((100% - 2 * 30px) / 3);
        flex-basis: calc((100% - 2 * 30px) / 3);
  }
}
.portfolio__item:hover, .portfolio__item:focus {
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.portfolio__overlay {
  position: absolute;
  top: 0;
  left: 0;
  overflow: auto;
  width: 100%;
  height: 100%;
  padding: 60px 24px;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition-property: "transform", "transform";
  transition-property: "transform", "transform";
  transition-property: "transform";
  background-color: rgba(33, 150, 243, 0.9);
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .portfolio__overlay {
    padding-top: 50px;
  }
}
.portfolio__thumb:hover > .portfolio__overlay, .portfolio__thumb:focus > .portfolio__overlay {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}/*# sourceMappingURL=portfolio.css.map */