.page-header {
	width: 100%;
	
	border-bottom: 1px solid getColor('header-border');
	
	background-color: getColor('primary-white');
	
	&__inner {
		@include alignCenteredFlex;
		justify-content: space-between;

		@media screen and (max-width: 767px) {
			min-height: 60px;
		}
	}

	&--fixed {
		position: fixed;
		top: 0;
		left: 0;
		z-index: 2;
	}
}

.contacts-list {
	@extend %list;
	
	@media screen and (max-width: 767px) {
		display: none;
	}
	
	@media screen and (min-width: $desktop) {
		display: flex;
		column-gap: 30px;
	}

	&__item:not(:last-child) {
		@media screen and (max-width: 1199px) {
			margin-bottom: 10px;
		}
	}
}


.contact-link {
	@include alignCenteredFlex(inline-flex);

	color: getColor('link');
	@include font($weight: 500, $letter-spacing: 0.02);

	@include transition(color);

	@media screen and (min-width: $desktop) {
		padding-top: 32px;
		padding-bottom: 32px;
	}

	&:hover,
	&:focus {
		color: getColor('accent');
	}

	&__icon {
		fill: currentColor;

		&--start {
			margin-right: 10px;
		}
	
		&--end {
			margin-left: 10px;
		}
	}

}