.page-footer {
    padding-top: 60px;
    padding-bottom: 60px;

    background-color: getColor("dark-bc");

    text-align: center;

	@media screen and (min-width: $desktop) {
		text-align: left;
	}

    &__row {
		@media screen and (min-width: $tablet) and (max-width: 1199px) {
			row-gap: 60px;
		}
		
        @media screen and (min-width: $tablet) {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
        }

		@media screen and (min-width: $desktop) {
			justify-content: space-between;
		}
    }

    &__logo {
        margin-bottom: 20px;
    }

    &__contacts,
    &__follow-us {
        @media screen and (max-width: 767px) {
            margin-bottom: 60px;
        }
    }

    &__contact-link {
        padding: 0;

        color: getColor("link-with-transparency");
        font-weight: 400;
        line-height: 1.7;
    }

    &__action {
        margin-bottom: 20px;
    }
}

.address-list {
    @extend %list;
    line-height: 1.7;

    &__item:not(:last-child) {
        margin-bottom: 9px;
    }

    &__dislocation {
        color: getColor("primary-white");
    }
}
