body {
    background-color: getColor("page-bc");
    color: getColor("primary-text");
    font-family: "Roboto", sans-serif;
    @include font;
}

.modal-open {
	overflow: hidden;
}

.container {
	min-width: 320px;
    margin-right: auto;
	margin-left: auto;
    padding-left: 15px;
	padding-right: 15px;

	@media screen and (min-width :$mobile) {
		width: 480px;
	}

	@media screen and (min-width :$tablet) {
		width: 768px;
	}

	@media screen and (min-width :$desktop) {
		width: 1200px;
	}
}

