%logo-font {
    font-family: "Raleway", sans-serif;
    font-size: 26px;
    font-weight: 700;
    line-height: 1.174;
    letter-spacing: 0.03em;
}

%nav-link-font {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}

%list {
	list-style: none;
}
